<!--The content below is only a placeholder and can be replaced.-->

<h1>

  <p>Wykres kursu waluty {{curr1Name}} i złota w okresie od {{later30|date:'dd.MM.yyyy r.'}} do {{time|date:'dd.MM.yyyy r.'}} </p>

</h1>


Wybierz walutę
<select style="width:150px;height:30px;"  id="s1" (change)="select1(s1.value)" #s1 >
  <ng-container *ngFor="let p of CurrCodesandNames; let i=index;">
      <ng-container *ngIf='p[0] === "EUR"'>
          <option value={{p[0]}} selected>{{p[1]}} ({{p[0]}})</option>
      </ng-container>
  <option value={{p[0]}}>{{p[1]}} ({{p[0]}})</option>

</ng-container>



</select>&nbsp;&nbsp;
<div class="chart-display">
  <div style="width:100%">
    <canvas id="bar"></canvas>


  </div>

  <div style="width:100%">
    <canvas id="gold"></canvas>
  </div>


</div>
